<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>All Appointments</title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap">

</head>
<body>
    <header>
        <div class="container">
            <h1>All Booked Appointments</h1>
        </div>
    </header>
    <div class="container">
        <table>
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Email</th>
                    <th>Phone</th>
                    <th>Date</th>
                    <th>Time</th>
                    <th>Doctor</th>
                </tr>
            </thead>
            <tbody>
                <% appointments.forEach(appointment => { %>
                    <tr>
                        <td><%= appointment.name %></td>
                        <td><%= appointment.email %></td>
                        <td><%= appointment.phone %></td>
                        <td><%= appointment.date.toDateString() %></td>
                        <td><%= appointment.time %></td>
                        <td><%= appointment.doctor %></td>
                    </tr>
                <% }) %>
            </tbody>
        </table>
    </div>
</body>
</html>
